@model MovieReviewProject.Models.Appointment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.appointment_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appointment_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
